*{
    font-family: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    background-color: #888a;
}
section{
    background-image: url(../assets/cancha.jpg);
    background-size:cover;
    background-attachment:fixed;
    height:1500px;
    

}

.titulo { 
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    text-shadow:2px 2px 4px rgb(7, 115, 196);
}

#infoEquipoConvocado {
    color: rgb(7, 115, 196);
    text-shadow:2px 2px 4px #8811;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #8888;

}

form {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #888f;
}

button {
    color:whitesmoke;
    background-color: rgb(7, 115, 196);
}

button .botonEquipo { 
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;

}
