@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");

* {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* header */
.headerContainer {
  background-color: #383636;
  display: flex;
  flex-direction: inline;
  align-items: center;
  padding: 10px;
  gap: 30px;
}
.headerLogo {
  margin: 10px;
  padding: 25px, 30px;
  padding: 5px;
}
.titulo {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgb(7, 115, 196);
  text-shadow: 2px 2px 4px rgb(201, 201, 201);
}

/* body */
body {
  height: 1000px;
}
.imagenContainer {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background: url(../assets/cancha.jpg) no-repeat center center fixed;
  background-size: cover;
}

#infoEquipoConvocado {
  color: rgb(7, 115, 196);
  text-shadow: 2px 2px 4px #8811;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #8888;
}
.textoElegi,
.texto {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(19, 19, 2, 0.781);
}
#tablabody {
  background-color: #383636;
}
button {
  color: whitesmoke;
  background-color: #0773c4;
  border-radius: 8px;
  border-style: outset;
}
button:hover {
  color: whitesmoke;
  background-color: #431bb3;
}

button .botonEquipo {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}
.jugador-card {
  background-color: #8888;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  border-left: solid 2px #8888;
  border-bottom: solid 2px #8888;
}
.jugador-card:hover {
  background-color: #4c4848b4;
  text-shadow: 3px 2px 4px #0b35a8ea;
}

/* footer */
footer {
  height: min-content;
  color: #ffffff;
  background-color: #383636;
}
.footerContainer {
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  color: #1b76b3;
}
